@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

body {
    @apply overflow-x-hidden;
    @apply font-normal;
}

.box {
    @apply mx-auto;
    @apply px-4;
    max-width: 900px;
}

.page {
    @apply py-8;
}

.page > .box > main {
    @apply mt-8;
}

ul,
li {
    list-style: auto;
}

a {
    @apply text-indigo-700;
    @apply hover:underline;
}

header > div a, #PostPage .postContent a {
    @apply !text-indigo-700;
}

code {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.202em 0.5407911001em;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

#PostPage .postContent p {
    @apply my-2;
}

#PostPage .postContent h2 {
    @apply text-2xl;
    @apply mt-4;
}

#PostPage .postContent h3 {
    @apply text-xl;
    @apply mt-3;
}

#PostPage .postContent .post-image {
    @apply rounded;
}

#PostPage .postContent .post-image.center {
    @apply self-center;
}

#PostPage .postContent .post-image.medium {
    @apply w-96;
}

#PostPage .postContent blockquote {
    padding: 0.5rem;
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
    margin-top: 0.5rem;
}

#ProjectPage .postContent ul, #ProjectPage .postContent ol, #PostPage .postContent ul, #PostPage .postContent ol {
    padding: revert;
    margin: revert;
}

#ProjectPage .postContent ul li, #PostPage .postContent ul li {
    list-style: disc;
}