@import "tailwindcss";

/*
    --background: the website background
    --foreground: text color
    --card: cards background colors
    --page-color: the A4 page color used in CV
*/

:root {
    --background: oklch(97% 0.001 106.424);
    --foreground: #171717;
    --card-background: 0 0% 100%;
    --card-hover-background: 0 0% 98%;
    --tag-background: 0 0% 96%;
    --muted-foreground: 0 0% 45.1%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --page-color: #fff;
    --foreground-light-accent: oklch(0.73 0.15 266.67);
    --foreground-accent: oklch(0.55 0.24 262.88);
    --button-background: oklch(0.55 0.24 262.88);
    --link-color: lab(32.4486% 49.2217 -84.6695);
}

.dark {
    --background: #0a0a0a;
    --foreground: #fff;
    --card-background: 0 0% 5%;
    --card-hover-background: 0 0% 6%;
    --tag-background: 0 0% 7%;
    --muted-foreground: 0 0% 63.9%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --page-color: oklch(20.5% 0 0);
    --link-color: lab(57 30.11 -62.04);
}

@media print {
    :root {
        --background: oklch(97% 0.001 106.424);
        --foreground: #171717;
        --muted-foreground: 0 0% 45.1%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --radius: 0.5rem;
        --page-color: #fff;
    }
}

@theme inline {
    --breakpoint-xxs: 20rem;
    --breakpoint-xs: 30rem;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-muted-foreground: hsl(var(--muted-foreground));
    --color-card: hsl(var(--card-background));
    --color-card-hover: hsl(var(--card-hover-background));
    --color-tag: hsl(var(--tag-background));
    --color-page: var(--page-color);
    --color-foreground-light-accent: var(--foreground-light-accent);
    --color-foreground-accent: var(--foreground-accent);
    --color-button-background: var(--button-background);
    --font-normal: var(--font-roboto);
    --font-accent: var(--font-lato);
    --color-link: var(--link-color);
}

@layer base {

    *,
    :after,
    :before {
        border: 0 solid hsl(var(--border));
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    @apply font-normal;
    @apply overflow-x-hidden;
}

.box {
    @apply mx-auto;
    @apply px-4;
    max-width: 900px;
}

.page>.box>main {
    @apply mt-8;
}

ul,
li {
    list-style: auto;
}

a {
    @apply text-link;
    @apply hover:no-underline;

    &.black {
        @apply text-foreground;
    }

    &.no-link {
        @apply text-foreground;
        @apply hover:no-underline;
    }
}

.accent-button {
    @apply bg-button-background text-white p-2 rounded cursor-pointer md:hover:bg-button-background/90;
}

nav .nav-links>a {
    @apply hover:text-foreground hover:no-underline font-bold text-muted-foreground;
}

.card {
    @apply flex rounded bg-card;
    @apply px-3 py-2;
    @apply border rounded-lg;
}

.clickable-img>.img,
.project-card,
.project-card-base,
.post-card,
.post-card-base {
    @apply border rounded-lg;
    @apply bg-card;
    @apply cursor-pointer;
    @apply text-foreground no-underline;

    &:hover {
        @apply bg-card-hover;
    }
}

.social-links-card {

    >div,
    >a {
        @apply flex items-center gap-2;
    }

    >a {
        @apply text-muted-foreground md:hover:text-foreground;
    }
}

.techstack-card {
    >div>a {
        @apply inline-flex items-center bg-tag md:hover:bg-tag/70;
        @apply rounded-full border border-transparent;
        @apply px-2.5 py-0.5;
        @apply text-xs text-foreground;
        @apply transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2;
    }
}

.clickable-img {
    @apply flex flex-col;

    >.img {
        @apply flex justify-center items-center overflow-hidden;

        >img,
        >picture>img {
            @apply object-contain;
            @apply transition-transform duration-500 transform;
        }

        &:hover {

            >img,
            >picture>img {
                @apply scale-103;
            }
        }
    }
}

.project-card,
.post-card {
    @apply flex flex-col overflow-hidden;

    >.project-img,
    >.post-img {
        @apply w-full overflow-hidden px-2 pt-2;

        >img,
        >picture>img {
            @apply w-full h-38;
            @apply rounded-lg;
            @apply object-cover;
            @apply transition-transform duration-300 transform;
        }
    }

    >.project-body,
    >.post-body {
        @apply flex-1 flex flex-col;
        @apply px-3 py-2;

        >.project-title,
        >.post-title {
            @apply font-accent font-bold;
        }

        >.project-desc,
        >.post-desc {
            @apply text-sm text-muted-foreground;
        }
    }

    &:hover {

        >.project-img,
        >.post-img {

            >img,
            >picture>img {
                @apply scale-110;
            }
        }
    }
}

.project-tags,
.post-tags {
    @apply flex gap-2 flex-wrap;

    >div,
    >span {
        @apply bg-tag px-1 py-0.5 rounded;
        @apply text-sm text-nowrap;
    }
}

.post-card {
    >.post-img {

        >img,
        >picture>img {
            @apply h-50;
        }
    }
}

.blurred-sides-img>.alt,
.clickable-img>.alt {
    @apply text-muted-foreground self-center text-sm mt-0.5;
}

.blurred-sides-img {
    @apply flex flex-col;

    >.img {
        @apply relative inline-flex items-center justify-center;
        @apply rounded;
        overflow: hidden;
        line-height: 0;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40%;
            /* adjust how wide the blurred sides are */
            z-index: 1;
            background-image: var(--bg-img);
            background-repeat: no-repeat;
            background-size: cover;
            /* fill area with the image */
            filter: blur(7px);
            /* blur amount */
            transform: scale(1.05);
            /* slightly enlarge to hide blur edges */
            pointer-events: none;
        }

        /* left and right positioning + matching background-position */
        &::before {
            left: 0;
            background-position: left center;
        }

        &::after {
            right: 0;
            background-position: right center;
        }

        >img,
        >picture>img {
            position: relative;
            z-index: 2;
        }
    }
}

.bc {
    @apply fixed inset-0 z-50 flex items-center justify-center bg-stone-950/70 w-full h-full;
}

pre {
    overflow-x: auto;
    padding: 1rem 0;

    & [data-line] {
        padding: 0 1rem;
    }

    code {
        display: grid;
        min-width: 100%;

        &[data-line-numbers] {
            counter-reset: line;
        }

        &[data-line-numbers]>[data-line]::before {
            counter-increment: line;
            content: counter(line);

            /* Other styling */
            display: inline-block;
            width: 0.75rem;
            margin-right: 2rem;
            text-align: right;
            color: gray;
        }

        &[data-line-numbers-max-digits="2"]>[data-line]::before {
            width: 1.25rem;
        }

        &[data-line-numbers-max-digits="3"]>[data-line]::before {
            width: 1.75rem;
        }

        &[data-line-numbers-max-digits="4"]>[data-line]::before {
            width: 2.25rem;
        }

        &[data-theme*=" "],
        &[data-theme*=" "] span {
            color: var(--shiki-light);
            background-color: var(--shiki-light-bg);
        }

        & [data-highlighted-line] {

            &,
            span {
                background: #dddddd !important;
            }
        }

    }
}

.dark pre code {

    &[data-theme*=" "],
    &[data-theme*=" "] span {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
    }

    & [data-highlighted-line] {

        &,
        span {
            background: #333e4b !important;
        }
    }
}

#HomePage {
    h2 {
        @apply text-4xl;
        @apply font-bold;
        @apply font-accent;
    }

    h2+div {
        @apply mt-2 mb-4;
    }

    .box {
        @apply flex flex-col;
        @apply gap-30;
    }
}

#ProjectPage .post-content,
#PostPage .post-content,
#AboutPage .post-content {
    p {
        @apply my-2;
    }

    h2 {
        @apply text-2xl;
        @apply mt-4;
    }

    h3 {
        @apply text-xl;
        @apply mt-3;
    }

    .post-image {
        @apply rounded;
    }

    .post-image.center {
        @apply self-center;
    }

    .post-image.medium {
        @apply w-96;
    }

    blockquote {
        @apply bg-card;
        @apply p-2;
        @apply rounded;
        @apply my-2;
    }
}

#ProjectPage .post-content ul,
#ProjectPage .post-content ol,
#PostPage .post-content ul,
#PostPage .post-content ol,
#AboutPage .post-content ul,
#AboutPage .post-content ol {
    padding: revert;
    margin: revert;
}

#ProjectPage .post-content ul li,
#PostPage .post-content ul li,
#AboutPage .post-content ul li {
    list-style: disc;
}

#ProjectsPage {
    >.box>.timeline {
        @apply flex flex-col gap-16 relative;
        @apply py-12;

        &::after {
            @apply absolute bg-foreground-light-accent;
            content: "";
            width: 6px;
            top: 0;
            bottom: 0;
            left: 2rem;
            margin-left: -3px;
        }

        >div {
            position: relative;
            left: 4rem;
            top: 0;
            width: calc(100% - 4rem);

            &.with-bullet::after {
                @apply absolute;
                @apply bg-background;
                @apply border-4 border-foreground-accent;
                content: "";
                width: 25px;
                height: 25px;
                left: -2.75rem;
                top: 3px;
                border-radius: 50%;
                z-index: 1;
            }

            >h2 {
                @apply font-accent text-2xl;
                @apply mb-4;
            }
        }
    }
}

#ProjectPage {
    .statistics {
        @apply p-2 rounded bg-card mb-4;

        >div {
            @apply flex flex-wrap gap-2;

            >div:first-child {
                @apply text-muted-foreground font-bold;
            }

            >div:last-child {}
        }
    }

    .post-content {
        @apply mb-6;
    }
}

#AboutPage {

    .blue,
    .green,
    .pink,
    .violet {
        @apply font-bold;
    }

    .blue {
        @apply text-blue-800;
    }

    .green {
        @apply text-green-800;
    }

    .pink {
        @apply text-pink-800;
    }

    .violet {
        @apply text-violet-800;
    }
}

.dark #AboutPage {
    .blue {
        @apply text-blue-400;
    }

    .green {
        @apply text-green-400;
    }

    .pink {
        @apply text-pink-400;
    }

    .violet {
        @apply text-violet-400;
    }
}