html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

#friendly-bot {
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    #friendly-bot-button {
        position: relative;
        background-color: #5d5dff;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        cursor: pointer;
        border: 0;
        transition: all .7s ease-in-out;
        -webkit-box-shadow: 0px 4px 19px -1px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 4px 19px -1px rgba(0,0,0,0.19);
        box-shadow: 0px 4px 19px -1px rgba(0,0,0,0.19);

        &:hover {
            transform: rotate(30deg);
            background-color: #3e3eff;
        }

        &.active {
            transform: rotate(90deg);
            background-color: #3e3eff;
        }

        > svg {
            height: 80%;
            fill: #f7f7ff;
        }
    }
    
    #friendly-bot-container {
        width: 0rem;
        height: 0rem;
        background-color: #3e3eff;
        position: absolute;
        bottom: 4.5rem;
        right: 0rem;
        border-radius: 0.8rem;
        -webkit-box-shadow: 0px 4px 19px -1px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 4px 19px -1px rgba(0,0,0,0.19);
        box-shadow: 0px 4px 19px -1px rgba(0,0,0,0.19);
        transition: all .7s ease-in-out;

        &.active {
            width: 30rem;
            height: 30rem;
        }
        
        > #friendly-bot-container-inner {
            position: relative;
            padding: .6rem;
            display: flex;
            flex-direction: column;
            height: calc(100% - 1.2rem);
            visibility: hidden;
            gap: 0.5rem;

            &.show {
                visibility: visible;
            }
            
            #friendly-bot-container-msgs {
                display: flex;
                flex-direction: column;
                transition: all .1s ease-in-out;
                flex: 1;
                gap: 0.5rem;
                overflow-y: auto;

                > .message {
                    color: #fff;
                    border-radius: 0.3rem;
                    padding: 0.4rem 0.7rem;
                    font-size: 1.1rem;
                    max-width: 65%;
                }

                > .bot {
                    background-color: rgb(255 255 255 / 10%);
                }

                > .user {
                    align-self: flex-end;
                    background-color: rgb(106 255 77 / 35%);
                }

                > .audio {
                    font-style: italic;
                }
            }
            
            #friendly-bot-container-input {
                display: flex;

                &.first-time {
                    opacity: 0;
                    transition: all .7s ease-in-out;
                    position: relative;
                    bottom: 3rem;
                }

                &.show {
                    opacity: 1;
                    bottom: 0;
                }

                > #friendly-bot-container-input-txt {
                    flex: 1;
                    border-radius: .3rem;
                    padding: 0.1rem .5rem;
                    border: 0;
                    margin-right: 0.6rem;
                    font-size: 1.1rem;
                }
                
                > #friendly-bot-container-input-speech {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border: 0;
                    -webkit-box-shadow: 0px 4px 19px -1px rgba(0,0,0,0.19);
                    -moz-box-shadow: 0px 4px 19px -1px rgba(0,0,0,0.19);
                    box-shadow: 0px 4px 19px -1px rgba(0,0,0,0.19);
                    background-color: #fff;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: #ccccff;
                    }
                    
                    > svg {
                        height: 65%;
                        fill: #3e3eff;
                    }
                }
            }
            
            #friendly-bot-container-stop-record {
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgb(0 0 0 / 27%);
                z-index: 99999;
                top: 0;
                left: 0;
                border-radius: 0.8rem;
                justify-content: center;
                align-items: center;

                &.show {
                    display: flex;
                }
                
                > button {
                    width: 4rem;
                    height: 4rem;
                    background-color: #d90000;
                    cursor: pointer;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    -webkit-box-shadow: 0px 4px 19px -1px rgba(0, 0, 0, 0.19);
                    -moz-box-shadow: 0px 4px 19px -1px rgba(0, 0, 0, 0.19);
                    box-shadow: 0px 4px 19px -1px rgba(0, 0, 0, 0.19);
                    font-weight: bold;
                    color: #fff;
                    font-size: 1rem;
                    z-index: 1;
                }
                
                > button:hover {
                    background-color: red;
                }

                @keyframes quiet {
                    25%{
                        transform: scaleY(.6);
                    }
                    50%{
                        transform: scaleY(.4);
                    }
                    75%{
                        transform: scaleY(.8);
                    }
                }
                
                @keyframes normal {
                    25%{
                        transform: scaleY(1);
                    }
                    50%{
                        transform: scaleY(.4);
                    }
                    75%{
                        transform: scaleY(.6);
                    }
                }
                
                @keyframes loud {
                    25%{
                        transform: scaleY(1);
                    }
                    50%{
                        transform: scaleY(.4);
                    }
                    75%{
                        transform: scaleY(1.2);
                    }
                }
                
                #sound-wave-cnt {
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    height: 175px;
                    --boxSize: 16px;
                    --gutter: 28px;
                    width: calc((var(--boxSize) + var(--gutter))* 5);
    
                    &.stop > .sound-wave {
                        animation-play-state: paused;
                    }
    
                    > .sound-wave {
                        transform: scaleY(.4);
                        height: 100%;
                        width: var(--boxSize);
                        background: #12E2DC;
                        animation-duration: 1.2s;
                        animation-timing-function: ease-in-out;
                        animation-iteration-count: infinite;
                        border-radius: 8px;
                    }
                    
                    > .sound-wave-1 {
                        animation-name: quiet;
                    }
                    
                    > .sound-wave-2 {
                        animation-name: normal;
                    }
                    
                    > .sound-wave-3 {
                        animation-name: quiet;
                    }
                    
                    > .sound-wave-4 {
                        animation-name: loud;
                    }
                    
                    > .sound-wave-5 {
                        animation-name: quiet;
                    }
                }
            }
        }
    }
}